body {
    background-color: #d7e0ef;
    
    font-family: Impact, Charcoal, sans-serif;
    color:#28332e;
}


p {
   font-size: 18px;
}
 
/* unvisited link */
a:link {
    color: #d11d1d;
}

/* visited link */
a:visited {
    color: #1d69e2;

/* mouse over link */
a:hover {
    color: #119cc6;
}

/* selected link */
a:active {
    color: #144c07;
}